<header>
  <nav class="navbar navbar-light bg-white">
    <div style="padding-left: 40px;">
      <img height="50px" src="../assets/Graviti Logo.png">
    </div>
  </nav>
</header>
<section class="main_body">
  <div class="row">
  <div class=" col-md-12 ">
    <div class="heading1">Let's calculate <b>distance</b> from Google maps</div><br>
        <!-- <form> -->
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                 <div class="col-md-6">
                   <label>Origin</label>
                   <input placeholder="Origin" class="form-control" #searchOrigin (keyup)="findAdress('origin')"><br>
                   <label>Stop</label>
                   <input placeholder="Stop" class="form-control" #searchStop (keyup)="stops()">
                   <a><div style="float:right ;">Add Stop</div></a>  <br>
                   <label>Destination</label>
                   <input placeholder="Destination" class="form-control" #searchDestination (keyup)="findAdress('des')"><br>
                 </div> 
                 <div class="col-md-6  text-center calculate" >
                   <button class="btn  submit-btn" (click)="calculate()">Calculate</button>
                 </div>
                 <div class="col-md-12" >
                   <div class="upper">
                    <!-- <div > -->
                      <span><b>Distance</b></span>
                    <span class="number">{{distanceInkMeters|number}}kms</span>
                  
                  </div>
                  <div class="lower">
                    <div class=" pl-5">The distance between <b>{{originplace}}</b>  and <b>{{desplace}}</b> via the seleted route is {{distanceInkMeters|number}} kms.</div>
                    </div>
                 </div>
                </div>
              </div>
              <div class="col-md-6">
                <agm-map [latitude]="latorigin" [longitude]="lngorigin" style="height: 450px;width: 500px;">
                  <agm-marker [latitude]="latorigin" [longitude]="lngorigin"></agm-marker>
                  <agm-marker [latitude]="latdes" [longitude]="lngdes"></agm-marker>
                  <agm-direction [origin]="origin" [destination]="destination">
                  </agm-direction>
                </agm-map>
              </div>
            </div>
          </div>
          
        <!-- </form> -->
  </div>
  </div>
</section>